<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/general-styles.css">
    <link rel="stylesheet" href="css/main-style.css">
</head>

<body>
<header class="header">
    <div class="container">
        <div class="header-top">
            <div class="logo-block">
                <div class="logo-block__icon"><img class="logo-img" src="images/logo.png" alt=""></div>
                <div class="logo-block__logo">Mipls.ru</div>
            </div>
            <nav class="nav">
                <ul class="nav__list">
                    <input type="checkbox" id="checkbox_toggle" />
                    <label class="hamburger" for="checkbox_toggle">
                        <div class="hamburger__block">
                            <span class="hamburger-line"></span>
                            <span class="hamburger-menu">Меню</span>
                        </div>
                    </label>
                    <div class="menu">
                        <li class="menu__list">
                            <a class="menu__link" href="#">Главная</a>
                        </li>
                        <li class="menu__list">
                            <a class="menu__link" href="#">Найти компанию</a>
                        </li>
                        <li class="menu__list">
                            <a class="menu__link" href="#">Организациям</a>
                        </li>
                    </div>
                </ul>
            </nav>
            <div class="head-user">
                <div class="head-user__icon"><img src="images/avatar.svg" alt=""></div>
                <a class="user__btn" asp-area="" asp-controller="Home" asp-action="Reg">Аккаунт</a>
            </div>
        </div>
    </div>
</header>
<main class="main">
    <section class="top">
        <div class="container">
            <div class="top__inner">
                <h1 class="top__title">Mipls.ru - найди себе компанию</h1>
                <div class="top__text">Здесь ты можешь найти с кем сходить в музей, поиграть в компьютерную игру,
                    отправиться в поход и даже сходить на бизнес-тренинг</div>
                <a class="top__nav-link" href="#">
                    <div class="f-btn find-company">Найти компанию</div>
                </a>
                <div class="top__block-images">
                    <img class="top__images" src="images/figure-main.svg" alt="">
                </div>
                <div class="top__nav">
                    <a class="top__nav-link" href="#">
                        <div class="y-btn table-games">Настольные игры</div>
                    </a>
                    <a class="top__nav-link" href="#">
                        <div class="f-btn computer-games">Компьютерные игры</div>
                    </a>
                    <a class="top__nav-link" href="#">
                        <div class="o-btn sport">Спорт</div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="opportunities">
        <div class="container">
            <div class="opportunities__title">Возможности сервиса</div>
            <div class="opportunities__content">
                <ul class="opportunities__items">
                    <li class="opportunities__list">Знакомьтесь с новыми людьми, которые разделяют ваши интересы, на
                        онлайн и очных мероприятиях.</li>
                    <li class="opportunities__list">Обсуждайте предстоящую встречу в чате</li>
                    <li class="opportunities__list">Получайте отзывы и награды от других пользователей</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="events">
        <div class="container">
            <div class="events__title">Предстоящие популярные мероприятия</div>

            <div class="events__inner">
                <div class="events__item">
                    <div class="item__block-img">
                        <a class="block-img__image-link" href="#"><img class="block-img__image" src="images/img1.png"></a>
                        <a class="block-img__category-link" href="#"><div class="block-img__category">Компьютерные игры</div></a>
                        <img class="block-img__icon" src="images/icon1.svg">
                        <img class="block-img__like" src="images/heart.svg">
                        <div class="block-img__data-creation">22 мая / 11:00 - 23:00</div>
                    </div>

                    <div class="item__title"><a class="item__title-link" href="#">Как увеличить узнаваемость бизнеса и привлечь новую аудиторию?</a>

                    </div>

                    <div class="item__text">На выбранных площадках будут встречаться эксперты, выступать
                        известные спикеры, проводиться мастер-классы... <span class="item__more"><a
                                                                                                     class="item__text-more" href="#">Читать дальше</a></span>
                    </div>

                    <div class="item__bottom">
                        <div class="item__block-icon">
                            <img class="block-icon comment-user-1" src="images/comment-1.png" alt="">
                            <img class="block-icon comment-user-2" src="images/comment-2.png" alt="">
                            <img class="block-icon comment-user-3" src="images/comment-3.png" alt="">
                            <img class="block-icon comment-user-4" src="images/comment-4.png" alt="">
                            <div class="block-icon comment-all">
                                <span class="comment-number">20</span>
                            </div>

                        </div>
                        <a class="item__bottom-link" href="#">
                            <div class="item__bottom-arrow">
                                <img class="item__bottom-img" src="images/item-arrow.svg" alt="">
                            </div>
                        </a>
                    </div>

                </div>
                <div class="events__item">
                    <div class="item__block-img">
                        <a class="block-img__image-link" href="#"><img class="block-img__image" src="images/img2.png"></a>
                        <a class="block-img__category-link" href="#"><div class="block-img__category">Настольные игры</div></a>
                        <img class="block-img__icon" src="images/icon2.svg">
                        <img class="block-img__like" src="images/heart.svg">
                        <div class="block-img__data-creation">22 мая / 11:00 - 23:00</div>
                    </div>

                    <div class="item__title"><a class="item__title-link" href="#">Праздничная игротека от Hobby Bobby! Нам 5 лет!</a>
                    </div>

                    <div class="item__text">Напоминаем, что 22 мая нашему магазину исполняется 5 лет и мы приглашаем
                        вас на праздничную игротеку... <span class="item__more"><a class="item__text-more"
                                                                                   href="#">Читать дальше</a></span>
                    </div>

                    <div class="item__bottom">
                        <div class="item__block-icon">
                            <img class="block-icon comment-user-1" src="images/comment-1.png" alt="">
                            <img class="block-icon comment-user-2" src="images/comment-2.png" alt="">
                            <img class="block-icon comment-user-3" src="images/comment-3.png" alt="">
                            <img class="block-icon comment-user-4" src="images/comment-4.png" alt="">
                            <div class="block-icon comment-all">
                                <span class="comment-number">20</span>
                            </div>

                        </div>
                        <a class="item__bottom-link" href="#">
                            <div class="item__bottom-arrow">
                                <img class="item__bottom-img" src="images/item-arrow.svg" alt="">
                            </div>
                        </a>
                    </div>

                </div>
                <div class="events__item">
                    <div class="item__block-img">
                        <a class="block-img__image-link" href="#"><img class="block-img__image" src="images/img3.png"></a>
                        <a class="block-img__category-link" href="#"><div class="block-img__category">Спорт</div></a>
                        <img class="block-img__icon" src="images/icon3.svg">
                        <img class="block-img__like" src="images/heart.svg">
                        <div class="block-img__data-creation">22 мая / 11:00 - 23:00</div>
                    </div>

                    <div class="item__title"><a class="item__title-link" href="#">Матч всех звёзд 2023</a>
                    </div>

                    <div class="item__text">На один день «ВТБ Арена» станет машиной времени и отправит болельщиков в путешествие по баскетбол... <span class="item__more"><a class="item__text-more"
                                                                                                                                                                             href="#">Читать дальше</a></span>
                    </div>

                    <div class="item__bottom">
                        <div class="item__block-icon">
                            <img class="block-icon comment-user-1" src="images/comment-1.png" alt="">
                            <img class="block-icon comment-user-2" src="images/comment-2.png" alt="">
                            <img class="block-icon comment-user-3" src="images/comment-3.png" alt="">
                            <img class="block-icon comment-user-4" src="images/comment-4.png" alt="">
                            <div class="block-icon comment-all">
                                <span class="comment-number">20</span>
                            </div>

                        </div>
                        <a class="item__bottom-link" href="#">
                            <div class="item__bottom-arrow">
                                <img class="item__bottom-img" src="images/item-arrow.svg" alt="">
                            </div>
                        </a>
                    </div>

                </div>
                <button class="events__slider-btn slider-btn-prev"></button>
                <button class="events__slider-btn slider-btn-next"></button>
            </div>
        </div>
    </section>
</main>
<footer class="footer">
    <section class="footer__top">
        <div class="container">
            <div class="footer__top-inner">
                <div class="footer__top-left">
                    <div class="footer__top-title">Теперь есть с кем играть!</div>
                    <div class="footer__top-btn">
                        <a class="footer__top-link-btn" href="#">
                            <div class="footer__btn">Присоединиться</div>
                        </a>
                    </div>
                </div>
                <div class="footer__top-right">
                    <div class="footer__top-items">
                        <div class="footer__top-item-title">Игры и мероприятия</div>
                        <ul class="footer__top-list">
                            <li class="footer__top-item"><a class="footer__top-link" href="#">Присоединиться</a></li>
                            <li class="footer__top-item"><a class="footer__top-link" href="#">Создать свою игру</a></li>
                        </ul>
                    </div>
                    <div class="footer__top-items">
                        <div class="footer__top-item-title">Организациям</div>
                        <ul class="footer__top-list">
                            <li class="footer__top-item"><a class="footer__top-link" href="#">Размещение мероприятия</a></li>
                            <li class="footer__top-item"><a class="footer__top-link" href="#">Реклама товаров/услуг</a></li>
                        </ul>
                    </div>
                    <div class="footer__top-items">
                        <div class="footer__top-item-title">Помощь</div>
                        <ul class="footer__top-list">
                            <li class="footer__top-item"><a class="footer__top-link" href="#">Безопасность</a></li>
                            <li class="footer__top-item"><a class="footer__top-link" href="#">Правила сервиса</a></li>
                            <li class="footer__top-item"><a class="footer__top-link" href="#">Контакты</a></li>
                            <li class="footer__top-item"><a class="footer__top-link" href="#">Служба поддержки</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="footer__bottom">
        <div class="container">
            <div class="footer__bottom-inner">
                <a class="footer__bottom-link" href="mailto:contacts@mipls.ru">contacts@mipls.ru</a>
                <a class="footer__bottom-link" href="#">Вконтакте</a>
                <a class="footer__bottom-link" href="#">Политика конфиденциальности</a>
            </div>
        </div>
    </section>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    
    @RenderBody()
</footer>
</body>

</html>