<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/general-styles.css">
    <link rel="stylesheet" href="../css/admin-style.css">
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header-top">
                <div class="logo-block">
                    <div class="logo-block__icon"><img class="logo-img" src="../images/logo.png" alt=""></div>
                    <div class="logo-block__logo">Mipls.ru</div>
                </div>
                <nav class="nav">
                    <ul class="nav__list">
                        <input type="checkbox" id="checkbox_toggle" />
                        <label class="hamburger" for="checkbox_toggle">
                            <div class="hamburger__block">
                                <span class="hamburger-line"></span>
                                <span class="hamburger-menu">Меню</span>
                            </div>
                        </label>
                        <div class="menu">
                            <li class="menu__list">
                                <a class="menu__link" href="#">Игры и мероприятия</a>
                            </li>
                            <li class="menu__list">
                                <a class="menu__link" href="#">Безопасность</a>
                            </li>
                            <li class="menu__list">
                                <a class="menu__link" href="#">Правила сервиса</a>
                            </li>
                        </div>
                    </ul>
                </nav>
                <div class="head-user">
                    <button onclick="menuPolsov()" class="user__btn user-client-btn">
                        <div class="block-menu-bnt">
                            <img class="menu-profile-btn-img" src="../images/menu-profile-btn.svg" alt="">
                            <img class="menu-profile-icon" src="../images/comment-8.png" alt="">
                        </div>
                    </button>
                    <div id="menuPolsov" class="dropdown-content">
                        <ul class="menu-profile__list">
                            <li class="menu-profile__item menu-profile__icon-profile"><a class="menu-profile__link" href="setting-profile.html">Профиль</a></li>

                            <li class="menu-profile__item menu-profile__icon-event menu-profile__item-number"><a class="menu-profile__link" href="setting-profile.html">Мои игры</a><span class="menu-span-profile__link">5</span></li>

                           
                            <li class="menu-profile__item menu-profile__icon-chats menu-profile__item-number"><a class="menu-profile__link" href="#">Чаты</a><span class="menu-span-profile__link">5</span></li>
                            
                            
                            <li class="menu-profile__item menu-profile__icon-support"><a class="menu-profile__link" href="#">Поддержка</a></li>
                            <li class="menu-profile__item menu-profile__last menu-profile__icon-exit"><a class="menu-profile__link"
                                    href="#">Выход</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main class="main">
        <section class="admin-content">
            <div class="container">
                <div class="breacrumbs">
                    <a class="breacrumbs__link" href="#">Игры и мероприятия</a>
                    <span class="breacrumbs__separator"><img src="../images/breacrumbs-separator.svg" alt=""></span>
                    <a class="breacrumbs__link" href="#">Зов Эльфийского Потока</a>
                </div>
                <h2 class="events__title-main">Описание мероприятия</h2>
                <div class="events__inner">
                    <div class="events__left">
                        
                        <div class="events__info">
                            <div class="info__inner">
                                <div class="info__block">
                                    <div class="info__heading">Категория</div>
                                    <div class="info__description">Настольные игры</div>
                                </div>
                                <div class="info__block">
                                    <div class="info__heading">Дата</div>
                                    <div class="info__description">23 июня (ЧТ)</div>
                                </div>
                                <div class="info__block">
                                    <div class="info__heading">Время</div>
                                    <div class="info__description">18:00</div>
                                </div>
                                <div class="info__block">
                                    <div class="info__heading">Место</div>
                                    <div class="info__description">Анти-кафе «Новое место»</div>
                                </div>
                                <div class="info__block">
                                    <div class="info__heading">Цена</div>
                                    <div class="info__description info__description-price">250</div>
                                </div>
                                <div class="info__block">
                                    <div class="info__heading">Участники</div>
                                    <div class="info__description-quantity">3/5</div>
                                </div>
                            </div>
                        </div>
                        <div class="events__creator">
                            <div class="events__title">Создатель</div>
                            <ul class="events__user-list">
                                <li>
                            <div class="events__user">
                                <div class="user__icon">
                                    <img class="user__icon-img" src="../images/comment-6.png" alt="">
                                </div>
                                <div class="user__info">
                                    <div class="user-name-1">Михаил Клименов</div>
                                    <div class="user-name-2">Мастер Манчкин</div>
                                </div>
                                <button class="user__prof"></button>
                                <span class="profile__dop-span-events">Профиль</span>
                            </div>
                            </li>
                            </ul>

                        </div>
                        <div class="events__participants">
                            <div class="events__title">Участники</div>
                            <div class="block-participants">
                                <ul class="events__user-list">
                                    <li>
                                <div class="events__user">
                                    <div class="user__icon">
                                        <img class="user__icon-img" src="../images/comment-6.png" alt="">
                                    </div>
                                    <div class="user__info">
                                        <div class="user-name-1">Михаил Клименов</div>
                                        <div class="user-name-2">Мастер Манчкин</div>
                                    </div>
                                    <button class="user__prof"></button>
                                    <span class="profile__dop-span-events">Профиль</span>
                                </div>
                                </li>
                                    <li>
                                <div class="events__user">
                                    <div class="user__icon">
                                        <img class="user__icon-img" src="../images/comment-6.png" alt="">
                                    </div>
                                    <div class="user__info">
                                        <div class="user-name-1">Михаил Клименов</div>
                                        <div class="user-name-2">Мастер Манчкин</div>
                                    </div>
                                    <button class="user__prof"></button>
                                    <span class="profile__dop-span-events">Профиль</span>
                                </div>
                                </li>
                                    <li>
                                <div class="events__user">
                                    <div class="user__icon">
                                        <img class="user__icon-img" src="../images/comment-6.png" alt="">
                                    </div>
                                    <div class="user__info">
                                        <div class="user-name-1">Михаил Клименов</div>
                                        <div class="user-name-2">Мастер Манчкин</div>
                                    </div>
                                    <button class="user__prof"></button>
                                    <span class="profile__dop-span-events">Профиль</span>
                                </div>
                                </li>
                                </ul>

                            </div>
                        </div>
                        <button disabled class="events__btn f-btn btn">Присоединиться</button>
                        <button disabled class="profile__btn events__btn w-btn">Сообщить, когда появится место</button>
                        <button class="events__btn complaint-btn">Пожаловаться</button>
                    </div>
                    <div class="events__right">
                        <div class="events__right-top">
                            <div class="block-main">
                                <div class="single-title">Зов Эльфийского Потока</div>
                                <div class="single-description">Dungeon & Dragons 5’e</div>
                            </div>
                            <div class="events__call-disabled">Мест нет</div>
                        </div>
                        <img class="single-img" src="../images/img-single.jpg" alt="">
                        <div class="single-content">
                            <p><b>Народные предания говорят о странных звуках, доносящихся из Корманторского
                                леса, оттуда, где зимние туманы густы как молоко, а ночи так темны, что не видно
                                теней. Когда эти звуки вновь слышатся днём позднего лета, быть может, пора вновь обратиться к старинным историям?</b></p>
                            <p>Корманторский лес — это волшебное и загадочное
                                место, полное легенд, способных заинтересовать
                                любопытных и отпугнуть осторожных; и не без
                                причины, ибо в его тайных рощах прячутся монстры, способные напугать даже самых храбрых
                                сердцем.</p>
                                <p>Один из таких зверей — горгона. Стада неукротимых быков, покрытых металлической чешуёй,
                                свободно бродят по северо‐восточному краю леса.
                                Они не очень умны, их легко перехитрить, и это
                                хорошо, ибо те, кто подбирается к ним слишком
                                близко, могут оказаться на пути их окаменяющего дыхания. Лесные боги Риллифэйн Раллатил,
                                Сильванус и Майликки поняли, что из горгон
                                получались прекрасные, хотя и опасные, защитники границ леса от растущих общин Хиллсфара и
                                Мулмастера, и позволили им плодиться и размножаться. Боги заколдовали воды реки Дуатампер
                                своим совместным благословением, так что если
                                горгона когда‐нибудь ступит копытом в её воду,
                                она превратится в камень подобно тому, как их
                                дыхание окаменяет смертную плоть.</p>
                                <p>Горгоны, будучи простыми существами, научились бояться реки и приближаться к ней только
                                поздней весной, когда воды отступали, оставляя вдоль её берегов сомов и серебряную форель. Так
                                продолжалось, пока одна молодая горгона не осмелела достаточно, чтобы войти в реку; накрывшая зверя волна заключила его в ловушку на берегу. Теперь каждый год, в засушливые дни позднего лета,
                                когда река особенно мелеет, горгона приближается к тому, чтобы высохнуть и ожить. Требуется
                                лишь одно исключительно сухое лето, чтобы рёв
                                зверя вновь услышали вдоль всего устья Эльфийского Потока...</p>
                                <p>Ищу компанию людей для прохождения ваншота Зов Эльфийского Потока. Cессия примерно на 5 часов. Нужны персонажи 3-5 уровня. Как мастер, компании проводил не один раз. Люди, с которыми я играл, уверяют, что вожу я хорошо. Надеюсь, что и вам понравится.</p> 
                                <p>Увидимся на игре!)</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer">
        <section class="footer__top">
            <div class="container">
                <div class="footer__top-inner-client">
                    <div class="footer__top-left-client">
                        <div class="footer__top-title">Теперь есть с кем играть!</div>
                        <div class="footer__top-btn">
                            <a class="footer__top-link-btn" href="#">
                                <div class="footer__btn">Искать игру</div>
                            </a>
                        </div>
                    </div>
                    <div class="footer__top-right-client">
                        <div class="footer__top-items">
                            <div class="footer__top-item-title">Профиль</div>
                            <ul class="footer__top-list">
                                <li class="footer__top-item"><a class="footer__top-link" href="#">Редактировать</a></li>
                                <li class="footer__top-item"><a class="footer__top-link" href="#">Безопасность</a></li>
                            </ul>
                        </div>
                        <div class="footer__top-items">
                            <div class="footer__top-item-title">Игры и мероприятия</div>
                            <ul class="footer__top-list">
                                <li class="footer__top-item"><a class="footer__top-link" href="#">Новое приглашение</a>
                                </li>
                                <li class="footer__top-item"><a class="footer__top-link" href="#">Создал приглашения</a>
                                </li>
                                <li class="footer__top-item"><a class="footer__top-link" href="#">Принял участие</a>
                                </li>

                                <li class="footer__top-item"><a class="footer__top-link" href="#">История</a>
                                </li>
                                <li class="footer__top-item"><a class="footer__top-link" href="#">Чаты</a>
                                </li>
                            </ul>
                        </div>
                        <div class="footer__top-items">
                            <div class="footer__top-item-title">Помощь</div>
                            <ul class="footer__top-list">
                                <li class="footer__top-item"><a class="footer__top-link" href="#">Безопасность</a>
                                </li>
                                <li class="footer__top-item"><a class="footer__top-link" href="#">Правила сервиса</a>
                                </li>
                                <li class="footer__top-item"><a class="footer__top-link" href="#">Контакты</a></li>
                                <li class="footer__top-item"><a class="footer__top-link" href="#">Служба поддержки</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="copyright">
            <div class="container">
                <div class="copyright__text">
                    Проект выполнен при поддержке гранта Фонда содействия инновациям, предоставленного в рамках
                    программы «Студенческий стартап» федерального проекта «Платформа университетскоготехнологического
                    предпринимательства»
                </div>
            </div>
        </section>
        <section class="footer__bottom">
            <div class="container">
                <div class="footer__bottom-inner">
                    <a class="footer__bottom-link" href="mailto:contacts@mipls.ru">contacts@mipls.ru</a>
                    <a class="footer__bottom-link" href="#">Вконтакте</a>
                    <a class="footer__bottom-link" href="#">Политика конфиденциальности</a>
                </div>
            </div>
        </section>
    </footer>
    <script>
                function menuPolsov() {
          document.getElementById("menuPolsov").classList.toggle("show");
        }
    </script>
</body>

</html>