<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/general-styles.css">
    <link rel="stylesheet" href="../css/main-style.css">
</head>

<body>
    <div class="container" id="main">
        <h1>Модальное окно</h1>
        <a style="cursor:pointer" onclick="openPopup()">открыть окно Уведомления</a>

    </div>
    <div class="sup-modal" id="sup-service-modal">

        <div class="sup-modal__box">
            <button onclick="closePopup()" class="sup-modal__close-btn">
                <img src="../images/close-modal.svg" alt="">
            </button>
            <h2 class="sup-service__title">Уведомление</h2>
            <div class="sup-service__description">Спасибо, что помогаете сервису становиться лучше! Как только мы решим проблему, сообщим Вам на почту <a class="sup-service__link" href="mailto:igromanos@mail.ru">igromanos@mail.ru</a></div>
        </div>
    </div>

    <script>

        function openPopup() {
            document.getElementById("sup-service-modal").classList.add("open");
        }

        function closePopup() {
            document.getElementById("sup-service-modal").classList.remove("open");
        }

        window.addEventListener('keydown', (e) => {
            if (e.key === "Escape") {
                document.getElementById("sup-service-modal").classList.remove("open");
            }
        });

        //Закрыть модальное окно при клике вне его
        document.querySelector("#sup-service-modal .sup-modal__box").addEventListener('click', event => {
            event._isClickWithInModal = true;
        });

        document.getElementById("sup-service-modal").addEventListener('click', event => {
            if (event._isClickWithInModal) return;
            event.currentTarget.classList.remove('open');
        });

    </script>


</body>

</html>