<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/general-styles.css">
    <link rel="stylesheet" href="../css/admin-style.css">
    <link rel="stylesheet" href="../css/main-style.css">
</head>

<body>
    <div class="container" id="main">
        <h1>Модальное окно</h1>
        <a style="cursor:pointer" onclick="openPopup()">открыть окно Службы поддержки</a>

    </div>
    <div class="sup-modal" id="sup-service-modal">

        <div class="user-person-page-modal__box user-personal-page__size">
            <button onclick="closePopup()" class="sup-modal__close-btn">
                <img src="../images/close-modal.svg" alt="">
            </button>

            <div class="user-personal-page__block-title">
                <div class="user-personal-page__image">
                    <div class="user-personal-page__image-sep">
                        <img class="user-personal-page__img" src="../images/comment-6.png" alt="">
                    </div>
                </div>
                <div class="user-personal-page__title">
                    <div class="user-personal-page__name">Дмитрий Мельников</div>
                    <div class="user-personal-page__desc">Моё главное качество - могу отличить кубики D6 от D20 ;)</div>

                    <ul class="user-personal-page__block-info">
                        <li class="user-personal-page__block-info-item">
                            <div class="user-personal-page__block-info-text">Город</div>
                            <div class="user-personal-page__block-info-desc">Уфа</div>
                        </li>
                        <li class="user-personal-page__block-info-item">
                            <div class="user-personal-page__block-info-text">Рейтинг</div>
                            <div class="user-personal-page__block-info-desc rate-user">4,98</div>
                        </li>
                    </ul>
                </div>
            </div>

            <nav class="user-personal-page__nav">
                <ul class="user-personal-page__list">
                    <li class="user-personal-page__item">
                        <button class="user-personal-page__btn tabs__button user-personal-page__btn--active"
                            data-tab="tab_1">О себе</button>
                    </li>
                    <li class="user-personal-page__item">
                        <button class="user-personal-page__btn tabs__button" data-tab="tab_2">Приглашаю</button>
                    </li>
                    <li class="user-personal-page__item">
                        <button class="user-personal-page__btn tabs__button" data-tab="tab_3">История</button>
                    </li>
                    <li class="user-personal-page__item">
                        <button class="user-personal-page__btn tabs__button" data-tab="tab_4">Награды</button>
                    </li>
                </ul>
            </nav>

            <div class="profile__right tabs__item  _active user-personal-page__inner" id="tab_1">

                <div class="user-personal-page__content">
                    Всем привет! Меня зовут Дима и я обожаю настолки!) Если у вас есть во что сыграть, то зовите меня, я
                    буду очень хорошим игроком, да-да. И мне даже не скучно изучать правила новой игры (просто как
                    факт). Надеюсь, встретимся на игре)
                </div>

                <div class="user-personal-page__tabs-title">Любимые игры и жанры</div>
                <ul class="user-personal-page__tabs-list">
                    <li class="user-personal-page__tabs-item">НРИ</li>
                    <li class="user-personal-page__tabs-item">Иниш</li>
                    <li class="user-personal-page__tabs-item">Манчкин</li>
                    <li class="user-personal-page__tabs-item">Плотина</li>
                    <li class="user-personal-page__tabs-item">Dungeon’s & Dragon’s 5’e</li>
                </ul>

                <div class="user-personal-page__tabs-title">Во что хотел бы поиграть</div>
                <ul class="user-personal-page__tabs-list">
                    <li class="user-personal-page__tabs-item">Немезида</li>
                    <li class="user-personal-page__tabs-item">Gloomhawen. Мрачная гавань</li>
                </ul>
                <button class="f-btn sup-service__btn user-personal-page__main-tabs1-btn">Пригласить в группу</button>
                <button class="events__btn complaint-btn user-personal-page__main-btn">Пожаловаться</button>
            </div>


            <div class="profile__right tabs__item user-personal-page__inner" id="tab_2">
                <div class="where-invite__inner">
                    <ul class="where-invite__list">
                        <li class="where-invite__item">
                            <div class="where-invite__card">
                                <div class="events__cards-inner">
                                    <div class="events__cards-image">
                                        <img class="events__cards-img" src="images/img5.png" alt="">
                                    </div>
                                    <div class="events__cards-info">
                                        <div class="where-invite__cards-info">
                                            <div class="info__data">25 октября / 18:00</div>
                                            <div class="info__games">Настольные игры</div>
                                        </div>
                                        <div class="cards__title events__cards-title">Dungeons & Dragons</div>
                                        <div class="cards__bottom">
                                            <div
                                                class="cards__location events__cards-location item__location item__location--active">
                                                Анти-кафе «Новое место»</div>
                                            <div class="user-personal-page__participants">4/6
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="where-invite__item">
                            <div class="where-invite__card">
                                <div class="events__cards-inner">
                                    <div class="events__cards-image">
                                        <img class="events__cards-img" src="images/img5.png" alt="">
                                    </div>
                                    <div class="events__cards-info">
                                        <div class="where-invite__cards-info">
                                            <div class="info__data">25 октября / 18:00</div>
                                            <div class="info__games">Компьютерные игры</div>
                                        </div>
                                        <div class="cards__title events__cards-title">Overwatch 2</div>
                                        <div class="cards__bottom">
                                            <div
                                                class="cards__location events__cards-location item__location item__location--active">
                                                Онлайн</div>
                                            <div class="user-personal-page__participants">4/6
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
                <button class="y-btn sup-service__btn user-personal-page__main-tabs2-btn">Пригласить в группу</button>
            </div>

            <div class="profile__right tabs__item user-personal-page__inner" id="tab_3">
                <div class="where-invite__inner">
                    <ul class="where-invite__list">
                        <li class="where-invite__item">
                            <div class="where-invite__card">
                                <div class="events__cards-inner">

                                    <div class="events__cards-info">
                                        <div class="where-invite__cards-info">
                                            <div class="info__data">25 октября / 18:00</div>
                                            <div class="info__games">Настольные игры</div>
                                        </div>
                                        <div class="cards__title events__cards-title">Dungeons & Dragons</div>
                                        <div class="cards__bottom user-personal-page__block-comment">
                                            <div
                                                class="cards__location events__cards-location item__location item__location--active">
                                                Анти-кафе «Новое место»</div>
                                                <div class="user-personal-page__comment">
                                                    <img class="block-info__img" src="../images/comment-1.png" alt="">
                                                    <img class="block-info__img" src="../images/comment-2.png" alt="">
                                                    <img class="block-info__img" src="../images/comment-3.png" alt="">
                                                    <img class="block-info__img" src="../images/comment-4.png" alt="">
                                                </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="where-invite__item">
                            <div class="where-invite__card">
                                <div class="events__cards-inner">

                                    <div class="events__cards-info">
                                        <div class="where-invite__cards-info">
                                            <div class="info__data">25 октября / 18:00</div>
                                            <div class="info__games">Настольные игры</div>
                                        </div>
                                        <div class="cards__title events__cards-title">СЕРП</div>
                                        <div class="cards__bottom user-personal-page__block-comment">
                                            <div
                                                class="cards__location events__cards-location item__location item__location--active">
                                                Анти-кафе «Новое место»</div>
                                                <div class="user-personal-page__comment">
                                                    <img class="block-info__img" src="../images/comment-1.png" alt="">
                                                    <img class="block-info__img" src="../images/comment-2.png" alt="">
                                                    <img class="block-info__img" src="../images/comment-3.png" alt="">
                                                    <img class="block-info__img" src="../images/comment-4.png" alt="">
                                                </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="where-invite__item">
                            <div class="where-invite__card">
                                <div class="events__cards-inner">

                                    <div class="events__cards-info">
                                        <div class="where-invite__cards-info">
                                            <div class="info__data">25 октября / 18:00</div>
                                            <div class="info__games">Настольные игры</div>
                                        </div>
                                        <div class="cards__title events__cards-title">Каркасон</div>
                                        <div class="cards__bottom user-personal-page__block-comment">
                                            <div
                                                class="cards__location events__cards-location item__location item__location--active">
                                                Анти-кафе «Новое место»</div>
                                                <div class="user-personal-page__comment">
                                                    <img class="block-info__img" src="../images/comment-1.png" alt="">
                                                    <img class="block-info__img" src="../images/comment-2.png" alt="">
                                                    <img class="block-info__img" src="../images/comment-3.png" alt="">
                                                </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
                <button class="y-btn sup-service__btn user-personal-page__main-tabs2-btn">Показать ещё</button>
            </div>

            <div class="profile__right tabs__item user-personal-page__inner" id="tab_4">
                <div class="where-invite__inner">
                    <div class="user-personal-page__content">
                        У игрока на данный момент нет наград сообщества.<br>
                        <a class="user-personal-page__link" href="#">Подробнее о системе наград</a>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <script>

        function openPopup() {
            document.getElementById("sup-service-modal").classList.add("open");
        }

        function closePopup() {
            document.getElementById("sup-service-modal").classList.remove("open");
        }

        window.addEventListener('keydown', (e) => {
            if (e.key === "Escape") {
                document.getElementById("sup-service-modal").classList.remove("open");
            }
        });

        //Закрыть модальное окно при клике вне его
        document.querySelector("#sup-service-modal .user-person-page-modal__box").addEventListener('click', event => {
            event._isClickWithInModal = true;
        });

        document.getElementById("sup-service-modal").addEventListener('click', event => {
            if (event._isClickWithInModal) return;
            event.currentTarget.classList.remove('open');
        });



        // получаем все кнопки навигации
        const tabsButtons = document.querySelectorAll('.tabs__button');

        // Проходимся по всем кнопкам
        tabsButtons.forEach(btn => {
            // вешаем на каждую кнопку обработчик события клик
            btn.addEventListener('click', () => {
                // Получаем предыдущую активную кнопку
                const prevActiveItem = document.querySelector('.tabs__item._active');
                // Получаем предыдущую активную вкладку
                const prevActiveButton = document.querySelector('.tabs__button.user-personal-page__btn--active');

                // Проверяем есть или нет предыдущая активная кнопка
                if (prevActiveButton) {
                    //Удаляем класс _active у предыдущей кнопки если она есть
                    prevActiveButton.classList.remove('user-personal-page__btn--active');
                }

                // Проверяем есть или нет предыдущая активная вкладка
                if (prevActiveItem) {
                    // Удаляем класс _active у предыдущей вкладки если она есть
                    prevActiveItem.classList.remove('_active');
                }
                // получаем id новой активной вкладки, который мы перем из атрибута data-tab у кнопки
                const nextActiveItemId = `#${btn.getAttribute('data-tab')}`;
                // получаем новую активную вкладку по id
                const nextActiveItem = document.querySelector(nextActiveItemId);

                // добавляем класс _active кнопке на которую нажали
                btn.classList.add('user-personal-page__btn--active');
                // добавляем класс _active новой выбранной вкладке
                nextActiveItem.classList.add('_active');
            });
        })

    </script>



</body>

</html>