@page
@model GameMipls.Net.Views.Home.Error

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/general-styles.css">
    <link rel="stylesheet" href="../css/admin-style.css">
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header-top">
                <div class="logo-block">
                    <div class="logo-block__icon"><img class="logo-img" src="../images/logo.png" alt=""></div>
                    <div class="logo-block__logo">Mipls.ru</div>
                </div>
                <nav class="nav">
                    <ul class="nav__list">
                        <input type="checkbox" id="checkbox_toggle" />
                        <label class="hamburger" for="checkbox_toggle">
                            <div class="hamburger__block">
                                <span class="hamburger-line"></span>
                                <span class="hamburger-menu">Меню</span>
                            </div>
                        </label>
                        <div class="menu">
                            <li class="menu__list">
                                <a class="menu__link" href="#">Игры и мероприятия</a>
                            </li>
                            <li class="menu__list">
                                <a class="menu__link" href="#">Безопасность</a>
                            </li>
                            <li class="menu__list">
                                <a class="menu__link" href="#">Правила сервиса</a>
                            </li>
                        </div>
                    </ul>
                </nav>
                <div class="head-user">
                    <button onclick="menuPolsov()" class="user__btn user-client-btn">
                        <div class="block-menu-bnt">
                            <img class="menu-profile-btn-img" src="../images/menu-profile-btn.svg" alt="">
                            <img class="menu-profile-icon" src="../images/comment-8.png" alt="">
                        </div>
                    </button>
                    <div id="menuPolsov" class="dropdown-content">
                        <ul class="menu-profile__list">
                            <li class="menu-profile__item menu-profile__icon-profile"><a class="menu-profile__link" href="setting-profile.html">Профиль</a></li>

                            <li class="menu-profile__item menu-profile__icon-event menu-profile__item-number"><a class="menu-profile__link" href="setting-profile.html">Мои игры</a><span class="menu-span-profile__link">5</span></li>

                           
                            <li class="menu-profile__item menu-profile__icon-chats menu-profile__item-number"><a class="menu-profile__link" href="#">Чаты</a><span class="menu-span-profile__link">5</span></li>
                            
                            
                            <li class="menu-profile__item menu-profile__icon-support"><a class="menu-profile__link" href="#">Поддержка</a></li>
                            <li class="menu-profile__item menu-profile__last menu-profile__icon-exit"><a class="menu-profile__link"
                                    href="#">Выход</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main class="main">
        <section class="admin-content">
            <h1 class="logo-block__logo" style="margin: auto;width: 50%;padding: 10px;">Ошибка</h1>
        </section>
    </main>
    <footer class="footer" style="margin-top: 242px;">
        <section class="footer__top">
            <div class="container">
                <div class="footer__top-inner-client">
                    <div class="footer__top-left-client">
                        <div class="footer__top-title">Теперь есть с кем играть!</div>
                        <div class="footer__top-btn">
                            <a class="footer__top-link-btn" href="#">
                                <div class="footer__btn">Искать игру</div>
                            </a>
                        </div>
                    </div>
                    <div class="footer__top-right-client">
                        <div class="footer__top-items">
                            <div class="footer__top-item-title">Профиль</div>
                            <ul class="footer__top-list">
                                <li class="footer__top-item"><a class="footer__top-link" href="#">Редактировать</a></li>
                                <li class="footer__top-item"><a class="footer__top-link" href="#">Безопасность</a></li>
                            </ul>
                        </div>
                        <div class="footer__top-items">
                            <div class="footer__top-item-title">Игры и мероприятия</div>
                            <ul class="footer__top-list">
                                <li class="footer__top-item"><a class="footer__top-link" href="#">Новое приглашение</a>
                                </li>
                                <li class="footer__top-item"><a class="footer__top-link" href="#">Создал приглашения</a>
                                </li>
                                <li class="footer__top-item"><a class="footer__top-link" href="#">Принял участие</a>
                                </li>

                                <li class="footer__top-item"><a class="footer__top-link" href="#">История</a>
                                </li>
                                <li class="footer__top-item"><a class="footer__top-link" href="#">Чаты</a>
                                </li>
                            </ul>
                        </div>
                        <div class="footer__top-items">
                            <div class="footer__top-item-title">Помощь</div>
                            <ul class="footer__top-list">
                                <li class="footer__top-item"><a class="footer__top-link" href="#">Безопасность</a>
                                </li>
                                <li class="footer__top-item"><a class="footer__top-link" href="#">Правила сервиса</a>
                                </li>
                                <li class="footer__top-item"><a class="footer__top-link" href="#">Контакты</a></li>
                                <li class="footer__top-item"><a class="footer__top-link" href="#">Служба поддержки</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="copyright">
            <div class="container">
                <div class="copyright__text">
                    Проект выполнен при поддержке гранта Фонда содействия инновациям, предоставленного в рамках
                    программы «Студенческий стартап» федерального проекта «Платформа университетскоготехнологического
                    предпринимательства»
                </div>
            </div>
        </section>
        <section class="footer__bottom">
            <div class="container">
                <div class="footer__bottom-inner">
                    <a class="footer__bottom-link" href="mailto:contacts@mipls.ru">contacts@mipls.ru</a>
                    <a class="footer__bottom-link" href="#">Вконтакте</a>
                    <a class="footer__bottom-link" href="#">Политика конфиденциальности</a>
                </div>
            </div>
        </section>
    </footer>
    <script>
        function menuPolsov() {
            document.getElementById("menuPolsov").classList.toggle("show");
        }


        // получаем все кнопки навигации
        const tabsButtons = document.querySelectorAll('.tabs__button');

        // Проходимся по всем кнопкам
        tabsButtons.forEach(btn => {
            // вешаем на каждую кнопку обработчик события клик
            btn.addEventListener('click', () => {
                // Получаем предыдущую активную кнопку
                const prevActiveItem = document.querySelector('.tabs__item._active');
                // Получаем предыдущую активную вкладку
                const prevActiveButton = document.querySelector('.tabs__button.content__link--active');

                // Проверяем есть или нет предыдущая активная кнопка
                if (prevActiveButton) {
                    //Удаляем класс _active у предыдущей кнопки если она есть
                    prevActiveButton.classList.remove('content__link--active');
                }

                // Проверяем есть или нет предыдущая активная вкладка
                if (prevActiveItem) {
                    // Удаляем класс _active у предыдущей вкладки если она есть
                    prevActiveItem.classList.remove('_active');
                }
                // получаем id новой активной вкладки, который мы перем из атрибута data-tab у кнопки
                const nextActiveItemId = `#${btn.getAttribute('data-tab')}`;
                // получаем новую активную вкладку по id
                const nextActiveItem = document.querySelector(nextActiveItemId);

                // добавляем класс _active кнопке на которую нажали
                btn.classList.add('content__link--active');
                // добавляем класс _active новой выбранной вкладке
                nextActiveItem.classList.add('_active');
            });
        })
    </script>
</body>

</html>