@{
    Layout = null;
}
@model LoginViewModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/general-styles.css">
    <link rel="stylesheet" href="~/css/main-style.css">
</head>
    
    <body>
        <header class="header">
            <div class="container">
                <div class="header-top">
                    <div class="logo-block">
                        <div class="logo-block__icon"><img class="logo-img" src="~/images/logo.png" alt=""></div>
                        <div class="logo-block__logo">Mipls.ru</div>
                    </div>
                    <nav class="nav">
                        <ul class="nav__list">
                            <input type="checkbox" id="checkbox_toggle" />
                            <label class="hamburger" for="checkbox_toggle">
                                <div class="hamburger__block">
                                    <span class="hamburger-line"></span>
                                    <span class="hamburger-menu">Меню</span>
                                </div>
                            </label>
                            <div class="menu">
                                <li class="menu__list">
                                    <a class="menu__link" href="#">Главная</a>
                                </li>
                                <li class="menu__list">
                                    <a class="menu__link" href="#">Найти компанию</a>
                                </li>
                                <li class="menu__list">
                                    <a class="menu__link" href="#">Организациям</a>
                                </li>
                            </div>
                        </ul>
                    </nav>
                    <div class="head-user">
                        <div class="head-user__icon"><img src="~/images/avatar.svg" alt=""></div>
                        <button class="user__btn" href="#">Аккаунт</button>
                    </div>
                </div>
            </div>
        </header>
        <main class="main">
            <div class="container">
                <div class="reg__modal__box-full">
                    <button onclick="closePopup()" class="modal__close-btn"><img src="~/images/close-modal.svg" alt=""></button>
                    <h2 class="reg__title">Добро пожаловать!</h2>
                    <p class="reg__description">Зарегистрируйтесь, чтобы искать компании для игр и мероприятий</p>
        
                    <ul class="reg__list">
                        <li class="reg__item">
                            <button class="reg__link tabs__button" data-tab="tab_1">Вход</button>
                        </li>
                        <li class="reg__item">
                            <button class="reg__link tabs__button reg__link--active" data-tab="tab_2">Регистрация</button>
                        </li>
                    </ul>
        
        
                    <div class="reg__block-entrance tabs__item" id="tab_1">
        
                        <div class="block-entrance__inner">
                            <div class="block-registration__name-input">
                                <label for="email" name="email" class="registration__title-name">Email или номер
                                    телефона</label>
                                <input class="registration__input registration__email registration__input-valid" type="email" placeholder="igromanos@mail.ru"
                                    id="email">
                            </div>
                            <div class="block-registration__name-input">
                                <label for="pass" name="pass" class="registration__title-name">Пароль</label>
                                <div class="reg__password-full">
                                    <input class="registration__input registration__input-invalid" type="password" id="password-input"
                                        placeholder="Введите пароль" name="password">
                                    <a href="#" class="reg__password-control" onclick="return show_hide_password(this);"></a>
                                    <div class="registration__block-input-pass">
                                        <div class="res-pass"><a class="res-pas__link" href="#">Забыли пароль?</a></div>
                                        <div class="invalid-pass-text">Неверный пароль</div>
                                    </div>
                                </div>
                                <div class="registration__dop-entrance">
                                    <div class="res-pass">Войти с помощью:</div>
                                    <div class="registration__vk-img"><a href="#"><img src="~/images/vk.svg" alt=""></a></div>
                                </div>
                            </div>
                            <button class="f-btn registration__btn-input" disabled>Войти</button>
                            
                            <div class="reg__support">Служба поддержки</div>
                        </div>
                    </div>
                    <div class="reg__block-registration tabs__item _active" id="tab_2">
                        <form method="post" asp-action="Reg">
                            <div class="block-registration__inner">
                                <div class="block-registration__user">
                                    <div class="block-registration__name-input">
                                        <label for="username" name="username" class="registration__title-name">Имя</label>
                                        <input class="registration__input registration__username" type="text" placeholder="Артём"
                                               id="username" asp-for="Name">
                                    </div>
                                    <div class="block-registration__name-input">
                                        <label for="lastname" name="lastname" class="registration__title-name">Фамилия</label>
                                        <input class="registration__input registration__lastname" type="text"
                                               placeholder="Виноградов" asp-for="LastName" id="lastname">
                                    </div>
                                </div>
                                <div class="block-registration__name-input">
                                    <label for="phone" name="phone" class="registration__title-name">Номер телефона</label>
                                    <input class="registration__input registration__phone" type="tel" asp-for="Phone" placeholder="89869778650"
                                           id="phone">
                                </div>
                                <div class="block-registration__name-input">
                                    <label for="pass" name="pass" class="registration__title-name">Пароль</label>
                                    <div class="reg__password">
                                        <input class="registration__input registration__pass" type="password" id="password-input"
                                               placeholder="Введите пароль" asp-for="Password">
                                        <a href="#" class="reg__password-control" onclick="return show_hide_password(this);"></a>
                                    </div>
                                    
                                </div>
                                <button type="submit" class="f-btn">Зарегистрироваться</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
 
        </main>
        <footer class="footer">
            <section class="footer__top">
                <div class="container">
                    <div class="footer__top-inner-client">
                        <div class="footer__top-left-client">
                            <div class="footer__top-title">Теперь есть с кем играть!</div>
                            <div class="footer__top-btn">
                                <a class="footer__top-link-btn" href="#">
                                    <div class="footer__btn">Искать игру</div>
                                </a>
                            </div>
                        </div>
                        <div class="footer__top-right-client">
                            <div class="footer__top-items">
                                <div class="footer__top-item-title">Профиль</div>
                                <ul class="footer__top-list">
                                    <li class="footer__top-item"><a class="footer__top-link" href="#">Редактировать</a></li>
                                    <li class="footer__top-item"><a class="footer__top-link" href="#">Безопасность</a></li>
                                </ul>
                            </div>
                            <div class="footer__top-items">
                                <div class="footer__top-item-title">Игры и мероприятия</div>
                                <ul class="footer__top-list">
                                    <li class="footer__top-item"><a class="footer__top-link" href="#">Новое приглашение</a>
                                    </li>
                                    <li class="footer__top-item"><a class="footer__top-link" href="#">Создал приглашения</a>
                                    </li>
                                    <li class="footer__top-item"><a class="footer__top-link" href="#">Принял участие</a>
                                    </li>
    
                                    <li class="footer__top-item"><a class="footer__top-link" href="#">История</a>
                                    </li>
                                    <li class="footer__top-item"><a class="footer__top-link" href="#">Чаты</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="footer__top-items">
                                <div class="footer__top-item-title">Помощь</div>
                                <ul class="footer__top-list">
                                    <li class="footer__top-item"><a class="footer__top-link" href="#">Безопасность</a>
                                    </li>
                                    <li class="footer__top-item"><a class="footer__top-link" href="#">Правила сервиса</a>
                                    </li>
                                    <li class="footer__top-item"><a class="footer__top-link" href="#">Контакты</a></li>
                                    <li class="footer__top-item"><a class="footer__top-link" href="#">Служба поддержки</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="copyright">
                <div class="container">
                    <div class="copyright__text">
                        Проект выполнен при поддержке гранта Фонда содействия инновациям, предоставленного в рамках
                        программы «Студенческий стартап» федерального проекта «Платформа университетскоготехнологического
                        предпринимательства»
                    </div>
                </div>
            </section>
            <section class="footer__bottom">
                <div class="container">
                    <div class="footer__bottom-inner">
                        <a class="footer__bottom-link" href="mailto:contacts@mipls.ru">contacts@mipls.ru</a>
                        <a class="footer__bottom-link" href="#">Вконтакте</a>
                        <a class="footer__bottom-link" href="#">Политика конфиденциальности</a>
                    </div>
                </div>
            </section>
        </footer>
        <script>


        // для формы пароля
        function show_hide_password(target) {
            var input = document.getElementById('password-input');
            if (input.getAttribute('type') == 'password') {
                target.classList.add('view');
                input.setAttribute('type', 'text');
            } else {
                target.classList.remove('view');
                input.setAttribute('type', 'password');
            }
            return false;
        }
        // для формы пароля






        // получаем все кнопки навигации
        const tabsButtons = document.querySelectorAll('.tabs__button');

        // Проходимся по всем кнопкам
        tabsButtons.forEach(btn => {
            // вешаем на каждую кнопку обработчик события клик
            btn.addEventListener('click', () => {
                // Получаем предыдущую активную кнопку
                const prevActiveItem = document.querySelector('.tabs__item._active');
                // Получаем предыдущую активную вкладку
                const prevActiveButton = document.querySelector('.tabs__button.reg__link--active');

                // Проверяем есть или нет предыдущая активная кнопка
                if (prevActiveButton) {
                    //Удаляем класс _active у предыдущей кнопки если она есть
                    prevActiveButton.classList.remove('reg__link--active');
                }

                // Проверяем есть или нет предыдущая активная вкладка
                if (prevActiveItem) {
                    // Удаляем класс _active у предыдущей вкладки если она есть
                    prevActiveItem.classList.remove('_active');
                }
                // получаем id новой активной вкладки, который мы перем из атрибута data-tab у кнопки
                const nextActiveItemId = `#${btn.getAttribute('data-tab')}`;
                // получаем новую активную вкладку по id
                const nextActiveItem = document.querySelector(nextActiveItemId);

                // добавляем класс _active кнопке на которую нажали
                btn.classList.add('reg__link--active');
                // добавляем класс _active новой выбранной вкладке
                nextActiveItem.classList.add('_active');
            });
        })
        </script>
    </body>
    
    </html>